page-login {
    body{
        background-color:#2b99ce ;
    }
    .error ion-label {
        color: red !important;
    }
    ion-header {
        display: none;
    }
    .login-container
    {
        width: 60%;
        margin: 0 auto;
    }
    ion-content {
        // background-image: url(../assets/imgs/bodyBackImg.jpg);

    }
    ion-content.login{background: #2b99ce}

.content-md
{
    background-color: #2b99ce;
}
.item-md
{
    background: transparent;
    padding-left: 0;
}
.item-input .label-md, .item-select .label-md, .item-datetime .label-md
{
    color: #fff;
}
.item .item-block .item-md .item-input .item-label-floating .input-has-value .item-input-has-value
{
    color: #a3f2ff;
}
.item-md.item-input.item-input-has-focus .item-inner,
.item-md.item-input.input-has-focus .item-inner {
  border-bottom-color: #3fb1e5;
  -webkit-box-shadow: inset 0 -1px 0 0 #3fb1e5;
  box-shadow: inset 0 -1px 0 0 #3fb1e5;
}
.item-input-has-focus .label-md[stacked],
.input-has-focus .label-md[stacked],
.item-input-has-focus .label-md[floating],
.input-has-focus .label-md[floating] {
  color: #ffff51;
}
.item-label-stacked .text-input-md, .item-label-floating .text-input-md
{
    color: #fff;
}


}
