page-home {
    body{background: red;}
    .item_count {
        font-weight: bold
    }
    .notification {
        color: green
    }
    .error {
        color: red;
    }
    h2 {
        text-align: center
    }
ion-app.md
{
background-color: #d42424;
}
.content-md
{
    background-color: #d42424;
}
}
