page-home {
   
    .item_count {
        font-weight: bold
    }
    .notification {
        color: green
    }
    .error {
        color: red;
    }
    h2 {
        text-align: center
    }

.content-md
{
    background-color: #f4f4f7;
}

.active
{
    background-color: #000;
}



}
