// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.menu-inner .content-md, .menu-inner ion-content, ion-menu button.item-ios {
    background: #2c3842;
    color: white;
}
ion-menu ion-content{background: #2c3842;}
.menu-inner .item-md {
    background: #2c3842;
    color: #fff;
    border-bottom: 1px solid #3e4e5b;
}

.menu-inner .item-md.active {
    background: #05ace2;
}

.active {
    background: #fff;
}

.menu-inner .list-md .item-block .item-inner {
    border-bottom: none;
}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default
{
    color: #05ace2;
}
.label-md
{
    margin: 13px 0;
}
a {
    color: #05ace2;
    text-decoration: none;
}
.list-header-md
{
    border: none;
     border-bottom: 1px solid #ccc;
      background-color: #f1f1f1;
}

h2 {
    text-align: left;
    color: #05ace2;
    font-weight: bold!important;
}
